.box {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.sideBar {
  z-index: 10000;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  background-color: var(--sidebar-color);
}
.chatBar {
  width: 400px;
  background-color: var(--chatBar-color);
  position: relative;
}

.chats {
  transition: 0.3s ease-in-out;
  position: relative;
  left: 0%;
  width: calc(100% - 480px);
  border-left: 2px solid var(--inputBar-color);
  background-color: var(--chats-background);
}
.profile {
  position: relative;
  background-color: var(--text-secondary-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.status {
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 50%;
  height: 30%;
  width: 30%;
  border: 3px solid red;
}
.onlineProfile {
  background-color: var(--online-color);
}
.sideOptions {
  margin-bottom: 50px;
}
.sideOptions .sideOptn {
  margin: 35px 0;
}
.fixedNavbar {
  padding: 25px 25px 0 25px;
  /* position: fixed; */
}
.inputBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: var(--inputBar-color);
  /* background-color: red; */
  border-radius: 30px;
}
.inputBar input::placeholder {
  color: var(--text-secondary-color);
}
.inputBar i {
  text-align: center;
  width: 30px;
  color: var(--button2-color);
}
.inputBar i:nth-child(1) {
  margin-left: 15px;
}
.inputBar input {
  height: 50%;
  width: calc(100% - 40px);
  border: none;
  background-color: transparent;
  color: var(--text-secondary-color);
  font-family: 'Mukta';
  font-size: var(--text-medium);
  font-weight: 600;
}
.inputBar input:focus {
  outline: none;
}
.sortBy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.sortBy .addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
.sortBy .addNew .addnewBtn {
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--chatColor-left);
}
.sortBy .addNew .addnewBtn i {
  font-size: 12px;
}
.allFriends {
  padding: 0 25px;
  overflow-x: visible;
  height: 80vh;
  background-color: var(--chatBar-color);
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}
.allFriends::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.friends {
  cursor: pointer;
  margin-bottom: 20px;
  background-color: var(--friend-background);
  padding: 20px;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  color: invert(100%);
}
.friends .addToFriend {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 35px;
  position: absolute;
  left: 0;
  border-top: 2px solid var(--inputBar-color);
  color: var(--button2-color);
  font-size: 13px;
}
.addToFriend i {
  margin-left: 10px;
}
.friends:hover {
  box-shadow: 0 0 30px 1px var(--shadow-frnd-color);
}
.friends .upper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  z-index: 10;
}
.friends .upper .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
}
.friends .upper .info h5 {
  line-height: 13px;
  margin-bottom: 3px;
}
.friends .upper .time {
  right: 0;
  position: absolute;
}
.friends .lower {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friends .lower .msg {
  margin: 10px 0;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.friends .lower .count {
  background-color: var(--chatColor-left);
  border-radius: 50%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}
.friends .lower .count span {
  color: white;
}
.overlayMobile {
  display: none;
}
.chatHeading {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border-bottom: 2px solid var(--inputBar-color);
  background-color: var(--chatHeading-background);
}
.chatHeading::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('../../public/resources/pngtree-silhouette-of-a-witch-flying-on-broomstick-with-pumpkins-bats-and-image_15940057.jpg');
  background-position: 10% 14%;
  background-size: cover;
  background-repeat: no-repeat;
  mask: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  height: 110px;
  z-index: 10;
}
.chatHeading .userInfo {
  display: flex;
}
.chatHeading .userInfo .info {
  margin-left: 20px;
}
.chatHeading .userInfo .info h5 {
  line-height: 15px;
}
.chatHeading .options {
  z-index: 11;

  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
}
.chatHeading .options i {
  font-size: 25px;
  color: white;
}
.sendChat {
  position: absolute;
  bottom: 20px;
  width: 100%;
  border-top: 2px solid var(--inputBar-color);
}
.sendChat .sendBtn {
  position: absolute;
  right: 23px;
  font-size: 27px;
  bottom: -5px;
  background-color: var(--chatColor-left);
  color: white;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.element2Skull {
  background-image: url('../../public/resources/pngtree-3d-skull-with-burning-candle-halloween-holiday-concept-png-image_10021608.png');
  position: absolute;
  top: -4px;
  left: 5px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 45px;
  width: 41px;
  transform: rotate(-15deg);
}
.chatList {
  /* background-color: red; */
  height: calc(100% - 200px);
  overflow-y: scroll;
  padding: 0 10px;
  scroll-behavior: smooth;
  background-color: var(--chatList-background);

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.chatList::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.chatList .chatLeft {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.chatList .chatData {
  position: relative;

  margin: 20px 0 20px 0;
}
.chatList .chatData span {
  z-index: 20;
  transition: 0.1s ease-in-out;
}
.chatList .chatData span:hover {
  margin-bottom: 20px;
}

.chatList .chatLeft span {
  color: white;
  border-radius: 40px;
  border-bottom-right-radius: 8px;
  padding: 10px 35px;
  font-size: 19px;
  background-color: var(--chatColor-left);
}
.chatList .chatRight {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chatList .chatRight span {
  background-color: var(--chatRight-color);
  color: var(--text-primary-color);
  border-radius: 40px;
  border-top-left-radius: 8px;
  padding: 10px 25px;
  font-size: 19px;
  box-shadow: 5px 5px 10px var(--shadow-msg-color1),
    -5px -5px 10px var(--shadow-msg-color2);
}

.addFriend {
  position: absolute;
  height: 80%;
  width: 100%;
  background-color: var(--chatBar-color);
  left: 0%;
  top: 130px;
  z-index: 20;
  padding: 25px;
}
.cross {
  transform: rotate(45deg);
}
.leftComingBar {
  position: absolute;
  left: 80px;
  z-index: 100;
  top: 0;
  height: 100vh;
  width: 400px;
  background-color: var(--sidebar-color);
  animation: leftSwipe 0.3s 1;
}
.leftComingBar h2 {
  color: white;
}
@keyframes leftSwipe {
  from {
    opacity: 0;
    left: 0;
  }
  to {
    opacity: 1;
    left: 80px;
  }
}
.leftComingBar .heading {
  height: 110px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  border-bottom: 2px solid var(--inputBar-color);
}
.allNotifications {
  padding: 25px;
}
.leftComingBar .singleNotification {
  /* background-color: white; */
  display: flex;
  line-height: 15px;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.leftComingBar .acceptBtn {
  padding: 10px 20px;
  background-color: var(--chatColor-left);
  border-radius: 20px;
}
.leftComingBar .info {
  margin-left: 15px;
}
.acceptBtn span {
  color: white;
}
.leftComingBar .singleNotification h5 {
  color: white;
  line-height: 20px;
}
.leftComingBar .singleNotification .reject {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.leftComingBar .singleNotification .info,
.leftComingBar .singleNotification .info span {
  overflow: hidden;
  width: 140px;
  text-overflow: ellipsis;
}
.leftComingBar .singleNotification .info,
.leftComingBar .singleNotification .info span ::after {
  content: '\2026';
  color: white;
}
.fadeUp {
  transition: 0.3s ease-in-out;
  animation: fadeup 0.3s 1;
  pointer-events: none;
  opacity: 0.5;
}

@keyframes fadeup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
.welcomeBox {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  padding: 200px;
  text-align: center;
}
.logoImg {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}
.welcomeBox h2 {
  color: var(--text-primary-color);
  display: inline-block;
}
.welcomeBox span {
  font-size: 20px;
  display: block;
}
.notWelcomeBox {
  display: none;
}
.effect {
  background-color: var(--sidebar-color);
  position: relative;
}
.effect::before {
  z-index: 9;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../public/resources/—Pngtree—halloween\ wallpaper\ background\ full\ moon_3429141.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mask: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.effectGlow {
  position: absolute;
  width: 3px;
  left: 0px;
  top: 0px;
  box-shadow: 0 0 20px 2px var(--chatColor-left);
  height: 100%;
  background-color: var(--chatColor-left);
}
.effect h5 {
  color: white;
}
.chatHeading .backBtn {
  display: none;
  z-index: 11;
}
.chatList .chatData .msgTime {
  position: absolute;
  color: var(--button2-color);
  font-size: 9px;
  background-color: var(--chats-background);
  top: 75%;
  padding: 0;
  margin: 0 15px;
  z-index: 10;
  box-shadow: none;
}
.showOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  position: absolute;
  top: 80px;
  right: 86px;
  background-color: var(--chatBar-color);
  padding: 20px;
  border-radius: 20px;
  border-top-right-radius: 2px;
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.157);
  z-index: 2000;
  transition: 0.3s ease-in-out;
  transform-origin: top right;
}
.showOptionsMotion {
  animation: popUp 0.1s 1;
}
.showOptionsMotionRem {
  animation: popDown 0.1s 1;
}
.codeDanger {
  color: rgb(214, 94, 94);
}
.codeGeneral {
  color: var(--text-secondary-color);
}
.img_mod {
  position: relative;
  width: 30%;
}
.chatList .chatLeft .img_mod,
.chatList .chatRight .img_mod {
  padding: 5px;
  margin: 0;
  font-size: 0;
  border-radius: 10px;
}
.imgOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  transform: translateX(-5px) translateY(-5px);
  border-radius: 5px;
  opacity: 0;
  transition: 0.1s ease-in-out;
  display: flex;
  align-items: end;
}
.imgOverlay .imgOptions {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.675);
}
.imgOverlay .imgOptions span {
  color: white;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  box-shadow: 0 0 0 0;
}
.img_mod:hover .imgOverlay {
  opacity: 1;
}
.viewImg {
  position: absolute;
  height: 80%;
  background-color: red;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}
.text_img {
  border-radius: 7px;
  width: 100%;
}
@keyframes popUp {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes popDown {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}
.goToLast {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 130px;
  left: 45px;
  background-color: var(--chatColor-left);
  color: white;
  border-radius: 50%;
}

.overlayTheme {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.276);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlayTheme .chooseTheme {
  width: 50%;
  /* height: 60%; */
  background-color: var(--friend-background);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
}

.overlayTheme .chooseTheme .options {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.festivalElm {
  background-image: url('../../public/resources/Hand-drawn-design-halloween-Pumpkin-cat-on-transparent-background-PNG.png');

  height: 60px;
  width: 60px;
  scale: 0.7;
  position: absolute;
  right: 27px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 23px;
}
.overlayTheme .chooseTheme .options .cardColor {
  margin: 10px;
  height: 130px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.overlayTheme .chooseTheme .closeBtn {
  position: absolute;
  right: 30px;
  top: 30px;
}
.overlayTheme .chooseTheme .options .cardColor .preview .upper {
  height: 50%;
}
.overlayTheme .chooseTheme .options .cardColor .preview .lower {
  height: 50%;
}
.overlayTheme .chooseTheme .options .cardColor .preview {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 9px -1px #00000040;
}
.overlayTheme .chooseTheme i {
  color: var(--text-secondary-color);
}
.overlayTheme .chooseTheme .options .cardColor:hover {
  cursor: pointer;
  background-color: #00000014;
}
.videoCall {
  border-radius: 20px;
  z-index: 1001;
  background-color: var(--chatHeading-background);
  height: 85%;
  width: 60%;
  position: fixed;
  top: 7.5%;
  left: 20%;
  box-shadow: 0px 0px 47px 10px rgba(0, 0, 0, 0.234);
  padding: 20px 20px 0 20px;
}
.videoCall .videoFeedback {
  overflow: hidden;
  width: 100%;
  height: 80%;
  background-color: black;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}
.videoCall .videoFeedback .pendingCall::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scale: 1.2;

  filter: blur(20px);
}
.videoCall .videoFeedback .pendingCall {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videoCall .videoFeedback .pendingCall span {
  z-index: 3;
  margin-top: 50px;
  line-height: 1px;
}
.videoCall .videoFeedback .pendingCall h3 {
  z-index: 3;
  font-size: 30px;
  color: white;
}

.videoCall .videoFeedback .pendingCall .profile {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.videoCall .controls {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}
.videoCall .controls .button {
  margin: 0 10px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--inputBar-color);
  border-radius: 30px;
}
.localFeedback .localFeedbackUser {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}
.videoCall .localFeedback {
  overflow: hidden;
  height: 150px;
  width: 250px;
  background-color: black;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 3;
  border-radius: 10px;
}
.localFeedback .innerLocalFeedbackWrapper {
  background-color: var(--sidebar-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoCall .controls .button i {
  color: var(--button2-color);
}
.videoCall .controls .danger {
  width: 150px;
  background-color: rgb(255, 53, 53);
}
.videoCall .controls .danger span {
  color: white;
  font-size: 1.2rem;
}
.incomingVideocall {
  z-index: 10002;
  width: 50%;
  height: 80px;
  background-color: var(--sidebar-color);
  position: fixed;
  top: 30px;
  left: 25%;
  transform: translateX(-50%);
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.incomingVideocall::before {
  content: '';
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -50%;
  background: linear-gradient(
    66deg,
    rgba(87, 126, 202, 0) 29%,
    rgba(255, 255, 255, 0.3) 53%,
    rgba(0, 35, 136, 0) 84%
  );
  animation: flashingIncomingCall 3s infinite;
}
@keyframes flashingIncomingCall {
  from {
    left: -50%;
  }
  to {
    left: 120%;
  }
}
.incomingVideocall .userImg {
  border-radius: 50%;
  margin-right: 20px;
  height: 60px;
  width: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.incomingVideocall .info {
  line-height: 10px;
  margin: auto;
}
.incomingVideocall .info h3 {
  color: white;
}
.incomingVideocall .controls {
  display: flex;
}
.incomingVideocall .controls i {
  color: white;
}
.incomingVideocall .controls .answer {
  background-color: green;
}
.incomingVideocall .controls .reject {
  background-color: red;
}
.incomingVideocall .controls .button {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
@media all and (max-width: 1400px) {
  .welcomeBox {
    scale: 0.7;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mobileSearchView {
    margin-left: 60px;
  }
  .overlayMobile {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.523);
    position: fixed;
    z-index: 10000;
  }
  .fixedNavbar {
    position: relative;
  }
  .inputBar {
    /* position: absolute; */
    width: calc(100% - 60px);
  }
  .incomingVideocall {
    width: 90%;
    border-radius: 10px;
    padding: 0 20px;
    border-radius: 38px;
  }
  .incomingVideocall .controls .button,
  .incomingVideocall .userImg {
    height: 40px;
    width: 40px;
  }
  .incomingVideocall h3 {
    font-size: 17px;
  }
  .incomingVideocall span {
    font-size: 13px;
  }
  .videoCall .localFeedback {
    width: 130px;
    height: 80px;
  }
  .videoCall {
    width: 90%;
    height: 90%;
    padding: 7px;
    left: 5%;
  }
  .videoCall .videoFeedback {
    height: 85%;
  }
  .videoCall .controls {
    height: 15%;
  }

  .overlayTheme .chooseTheme {
    width: 80%;
    z-index: 1000;
  }
  .img_mod {
    width: 70%;
  }
  .showOptions {
    right: 22px;
    z-index: 500;
  }
  .chatHeading .backBtn {
    display: block;
  }
  .chatHeading .backBtn i {
    color: var(--button2-color);
  }
  .incomingVideocall {
    width: 80%;
    left: 10%;
  }
  .sideBar {
    transition: 0.3s ease-in-out;
    position: absolute;
    left: -80px;
  }
  .chats {
    width: 100%;
  }
  .chatBar {
    position: absolute;
    width: 100%;
    z-index: 1000;
    height: 100vh;
  }
  .chatBarRemove {
    left: -100%;
  }
  .chatHeading .options {
    width: 130px;
  }
  .chatHeading .options i {
    font-size: 18px;
  }
  .chatHeading {
    height: 80px;
    padding: 0 10px;
    background-color: var(--chatHeading-background);
  }
  .chatHeading::before {
    height: 80px;
  }
  .chatHeading .userInfo .info h5,
  .chatHeading .userInfo .info span {
    font-size: 12px;
    line-height: 11px;
  }
  .chatHeading .userInfo .info h5 {
    height: 15px;
  }
  .leftComingBar {
    width: calc(100vw - 80px);
  }
  .allNotifications {
    padding: 10px 0;
  }
  .leftComingBar .singleNotification {
    scale: 0.8;
  }
}
@media all and (max-width: 500px) {
  .incomingVideocall h3 {
    font-size: 13px;
  }
  .incomingVideocall span {
    font-size: 10px;
  }
  .videoCall {
    top: 5%;
    left: 5%;
    z-index: 10004;
  }
  .allFriends {
    height: 100vh;
  }
}
